<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>

<div class="container">
<br><br>
 
<p><a href="/icheck" class="btn btn-outline-warning">Back to Icheck Home</a></p>
<br>
  <h3><%= [feed.title] %></h3>
  <h5> <p>Do you really want to delete the feed?</p></h5>

  <form method="post">
    <input class="btn btn-secondary" type="submit" value="Delete">
  </form>

</div>

<%- include('includes/footer'); -%>